<div class="card flex flex-col justify-start items-center m-4">
  <h3 class="mb-4">Adjust your board size:</h3>
  <div class="flex flex-col p-4 w-full md:w-[30rem]">
    <div class="flex flex-grow mb-4 gap-4">
      <i class="pi pi-arrows-h"></i>
      <p-slider class="w-full" min="6" max="12" [(ngModel)]="widthValue" (ngModelChange)="widthChanged($event)" />
    </div>
    <div class="flex flex-grow mb-4 gap-4">
      <i class="pi pi-arrows-v"></i>
      <p-slider class="w-full" min="5" max="10" [(ngModel)]="heightValue" (ngModelChange)="heightChanged($event)" />
    </div>
  </div>

  <h3 class="mb-4">This is the size of your board:</h3>
  <div class="flex items-center flex-col">
    @for (numH of counter(heightValue); track numH) {
      <span class="mb-2 last:mb-0">
        @for (numW of counter(widthValue); track numW) {
          <span class="mr-2 last:mr-0">
            <i class="pi pi-circle-fill" style="font-size: 2rem"></i>
          </span>
        }
      </span>
    }
  </div>
</div>
