<div class="flex flex-col m-4">
  @if (board) {
    <div class="flex m-auto relative">
      @for (cols of board; track $index; let idx = $index) {
        <div class="flex flex-col-reverse">
          @for (pos of cols; track $index) {
            <button
              type="button"
              class="item"
              [class]="{
                red: pos.state === ColorEnum.RED,
                yellow: pos.state === ColorEnum.YELLOW,
              }"
              (click)="addToken(idx)"
            ></button>
          }
        </div>
      }
    </div>
  }
</div>
