.board {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column-reverse;
}

.item {
    background-color: gainsboro;
    outline: 0;
    border-radius: 48px;
    width: 48px;
    height: 48px;
    margin: 0.25rem;
    padding: 0.25rem;

    &.red {
        background-color: red;
    }
    &.yellow {
        background-color: yellow;
    }
}